<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <filter>
  	<filter-name>LoginFilter</filter-name>
  	<display-name>LoginFilter</display-name>
  	<description></description>
  	<filter-class>com.simplilearn.filters.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>LoginFilter</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LogoutServlet</servlet-name>
  	<display-name>LogoutServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>StudentServlet</servlet-name>
  	<display-name>StudentServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.StudentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClassRoomServlet</servlet-name>
  	<display-name>ClassRoomServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ClassRoomServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>SubjectServlet</servlet-name>
  	<display-name>SubjectServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.SubjectServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TeacherServlet</servlet-name>
  	<display-name>TeacherServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.TeacherServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>AssignmentServlet</servlet-name>
  	<display-name>AssignmentServlet</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.AssignmentServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ClassReport</servlet-name>
  	<display-name>ClassReport</display-name>
  	<description></description>
  	<servlet-class>com.simplilearn.servlets.ClassReport</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LogoutServlet</servlet-name>
  	<url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>StudentServlet</servlet-name>
  	<url-pattern>/student</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClassRoomServlet</servlet-name>
  	<url-pattern>/classroom</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>SubjectServlet</servlet-name>
  	<url-pattern>/subject</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TeacherServlet</servlet-name>
  	<url-pattern>/teacher</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AssignmentServlet</servlet-name>
  	<url-pattern>/assignment</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ClassReport</servlet-name>
  	<url-pattern>/classReport</url-pattern>
  </servlet-mapping>
</web-app>
